<div class="quiz-area" ng-show="inProgress">
        <div ng-show="!quizOver">
            <h2 id="question" class="padding">{{question}}</h2>
            <div class="padding center">
                <span>Elapsed time: {{time}} </span> <br/>
                <span>Question time: {{timeQuestion}} </span>
            </div>

            <ion-list>
              <ion-radio
                 ng-repeat="option in options"
                 name="answer"
                 value="{{option}}">
                    {{option}}
                </ion-radio>
            </ion-list>

            <div class="padding center">
                <button ng-click="checkAnswer()"
                class="button button-calm"
                ng-show="answerMode">Só vai</button>
            </div>

        </div>

        <div ng-show="quizOver" class="padding center">
            <h1>Quiz is over</h1>
            <h2 ng-if="score >= 4">Congratulations</h2>
            <h3>You got {{score}} of 5 correct questions.</h3>
            <h4>Your time was {{time}}</h4>
            <h4>And you skipped {{elapsedOver}} questions. </h5>
            <button ng-click="reset()" class="button button-calm">Play again</button>
        </div>
    </div>

    <div class="intro padding center" ng-show="!inProgress">
        <h1>Welcome to the QuizApp</h1>
        <button class="button button-calm" ng-click="start()">Start the Quiz</button>
    </div>